<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IM注册邮件</title>
</head>
<style>
    body {

    }
    .mail{
        width: 80%;
        margin: 0 auto;
    }
    span{
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        background-color: #c56e57;
        padding: 2px;
    }
</style>
<body>
<div class="mail">
    <h5>您好:您正在注册im应用账号!</h5>
    <p>下面是您的验证码:<span>789678</span>请注意查收!谢谢</p>
    <h5>Im---如果可以请给项目点个star,开源不易,你的star就是对我们最大的认可～<a target="_blank" href="https://github.com/pl1998/go-im">https://github.com/pl1998/go-im</a> </h5>
</div>
</body>
</html>